main {
    margin-bottom: 50px;
    width: 1400px;
}

.product-section {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
}

.product-section h2 {
    position: absolute;
    margin: 0 auto;
}

.product-section::-webkit-scrollbar {
    display: none;
}

.product-list {
    align-self: flex-start;
    padding: 1px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    left: 10px;
    list-style: none;
}


.product-list li {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 30px;
    text-align: center;
}

.product-list li:last-child {
    margin-right: 0;
}

.product-list li img {
    height: 150px;
}
  
.product-list li h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.product-list li p {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}
  
.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.step-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step p {
    font-size: 20px;
}

.step {
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    scroll-snap-align: center;
}

.reveal {
    position: relative;
    transform: translateY(60px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


.cartnmap {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.cart {
    height: 450px;
    width: 50%;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: lighter;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: black;
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cart h2 {
    font-size: 25px;
    margin: auto;
    margin-top: 25px;
}

.cart p {
    margin: 1%;
}

.cart-items {
    overflow-y: scroll;
    margin: auto;
    margin-bottom: 1px;
    height: auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cart-items li {
    text-align: center;
}

.cart button {
    margin-bottom: 25px;
}

iframe {
    width: 50%;
    flex-grow: 1;
    margin-right: 10%;
    border-radius: 5px;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mapnhow {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1500px) {

    main {
        width: 1100px;
    }
    .cart {
        height: 350px;
    }
    iframe {
        height: 350px;
    }
    .step {
        width: 300px;
    }
}

@media (max-width: 1200px) {

    main {
        width: 800px;
    }
    .cart {
        height: 250px;
    }
    iframe {
        height: 250px;
    }
    .step {
        font-size: 22px;
        width: 200px;
    }
    .step p {
        font-size: 18px;
    }
}

@media (max-width: 950px) {

    main {
        width: 350px;
    }
    .cart h2 {
        font-size: 15px;
    }
    .cart button {
        font-size: 12px;
        width: 100px;
    }
    .cart {
        height: 150px;
    }
    iframe {
        margin-right: 10px;
        height: 150px;
    }
    .step {
        font-size: 16px;
        width: 105px;
        height: 70px;
    }
    .step h3 {
        font-size: 13px;
    }
    .step p {
        font-size: 10px;
    }
}